Sears!

System Information:
-------------------
Total Memory: {{ ansible_facts['memtotal_mb'] }} MB
Processor Count: {{ ansible_facts['processor_count'] }}
Nodename: {{ ansible_facts['nodename'] }}
OS family: {{ ansible_facts['os_family'] }}

Logged in as: maierl1
